{% load static %}

<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link href="https://cdn.boxicons.com/3.0.8/fonts/basic/boxicons.min.css" rel="stylesheet">
    {% block extra_head %}{% endblock %}
    <title>{% block title %}Sociopathy{% endblock %}</title>
</head>
<body class="site">
    <aside class="site__sidebar">
        <div class="sidebar__inner">
            <div class="sidebar__logo">
                <a href="{% url 'posts:home' %}">
                    <img src="{% static 'assets/logo.svg' %}" alt="Sociopathy Logo" class="logo-img">
                </a>
            </div>

            <nav class="sidebar__menu menu">
                <ul class="menu__list">
                    <li class="menu__item">
                        <a href="{% url 'posts:home' %}" class="menu__link {% if request.resolver_match.view_name == 'posts:home' %}menu__link--active{% endif %}">
                            <i class="bx bx-home-alt-2"></i>
                        </a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">
                            <i class="bx bx-compass"></i>
                        </a>
                    </li>
                    <li class="menu__item new_post">
                        <a href="#" class="menu__link">
                            <i class="bx bx-plus"></i>
                        </a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">
                            <i class="bx bx-bookmark"></i>
                        </a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">
                            <i class="bx bx-user"></i>
                        </a>
                    </li>
                </ul>
            </nav>

            <div class="sidebar__settings">
                <a href="#" class="menu__link {% if request.resolver_match.url_name == '#' %}menu__link--activate{% endif %}">
                    <i class="bx bx-toggles"></i>
                </a>
            </div>
        </div>
    </aside>

    <main class="site__main"> <header class="site__header">
            <h1 class="header__title">{% block header_title %}Головна{% endblock %}</h1>
        </header>

        <section class="site__content">
            {% block content %}{% endblock %}
        </section>
    </main>
</body>
</html>